<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.mapper.emptoyee.IEmptoyeeMapper">

	<resultMap id="empDept" type="emptoyee">

		<result column="id" property="id"></result>
		<result column="emptoyeeName" property="emptoyeeName"></result>
		<result column="sex" property="sex"></result>
		<result column="birthday" property="birthday"></result>
		<result column="salary" property="salary"></result>
		<result column="deptId" property="deptId"></result>
		<result column="departmentName" property="deptName"></result>
	</resultMap>

	<update id="updateEmpDept">

		UPDATE t_emptoyee set deptId = #{deptId} WHERE  id IN

		<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</update>

	<delete id="deleteEmpByDeptId">

			DELETE  FROM t_emptoyee WHERE deptId IN

			<foreach collection="ids" open="(" close=")" separator="," item="deptId">
				#{deptId}
			</foreach>
	</delete>
	<delete id="deleteEmp" >

		DELETE  FROM t_emptoyee WHERE id IN
		<foreach collection="list" open="(" close=")" separator="," item="id">

			#{id}

		</foreach>
	</delete>

	<update id="updateEmp" parameterType="emptoyee">

		UPDATE  t_emptoyee SET emptoyeeName = #{emptoyeeName} ,sex = #{sex},salary = #{salary} , deptId= #{deptId}
		WHERE  id = #{id}

	</update>

	<select id="showbackEmp" resultMap="empDept">

		SELECT e.id,emptoyeeName,sex,birthday,salary,deptId,departmentName
		FROM t_emptoyee e LEFT JOIN  t_department d on  e.deptId = d.id WHERE  e.id = #{id}
	</select>

	<insert id="addEmp" parameterType="emptoyee">

		INSERT INTO  t_emptoyee (emptoyeeName,sex,salary,deptId) VALUES (#{emptoyeeName},#{sex},#{salary},#{deptId})
	</insert>

	<select id="queryEmpCount" parameterType="emptoyee" resultType="int">

		SELECT COUNT(*) FROM t_emptoyee

		<include refid="empCondition"></include>
	</select>

	<sql id="empCondition">
		<where>
			<if test="emptoyeeName != null and emptoyeeName != ''">
				emptoyeeName LIKE concat("%",#{emptoyeeName},"%")
			</if>
			<if test="minSalary != null and minSalary > 0">

				AND  Salary >= #{minSalary}
			</if>

			<if test="maxSalary != null and maxSalary > 0">

				AND Salary &lt;= #{maxSalary}
			</if>
			<if test="sex != null">
				AND  sex = #{sex}

			</if>
			<if test="minbirthday != null">

				AND  birthday >= #{minbirthday}
			</if>
			<if test="maxbirthday != null">

				AND  birthday &lt;= #{maxbirthday}
			</if>

			<if test="deptIdsList != null and deptIdsList.size() > 0">
				AND  deptId in
				<foreach collection="deptIdsList" item="deptId" separator="," open="(" close=")">

					#{deptId}

				</foreach>

			</if>

		</where>


	</sql>

	<select id="findEmpListByPage" resultMap="empDept" parameterType="emptoyee">

		SELECT  t.* FROM (

		SELECT e.*,d.departmentName FROM t_emptoyee e LEFT JOIN t_department d ON  e.deptId = d.id
		<include refid="empCondition"></include>

		) t
		ORDER BY id DESC
		limit #{start},#{length}




	</select>
	
</mapper>