<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.api.app.mapper.IAppMapper">

	<select id="getAppSecret" parameterType="string" resultType="string">

		SELECT appSecret FROM t_app WHERE  appKey = #{appKey}
	</select>

	
</mapper>